<h1>Welcome <%= @gamer.name %></h1>

<%= link_to "New gaming session", new_gaming_session_path %><br>

<%= link_to "All gaming sessions", gaming_sessions_path %><br>

<%= link_to "All Gamers", gamers_path %><br>

<%= link_to "All Platforms", platforms_path %><br>

<h3>Newest Games to Check Out</h3>
  <ul>
    <% @new_games.each do |game| %>
      <li><%= game.name %>: released on <%= game.readable_release_date %></li>
    <% end %>
  </ul><br>