<h1>Create Profile</h1>

<%= form_for @gamer do |f| %>
  <% if @gamer.errors.any? %>
    <% @gamer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %><br>
  <% end %>

  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %><br>

  <%= f.label :gamertag, "Gamertag: " %>
  <%= f.text_field :gamertag %><br>

  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %><br><br>

  <%= f.submit %>
<% end %>